.centrar{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
}

#matricula, #btnMatricula{
    position: relative;
    left: 100px;
}

.col-centrada{
    float: none;
    margin: 0 auto;
    border: lightseagreen 1.5px solid;
    width: 50%;
    border-radius: 2%;
    padding: 10px;
    margin-top: 70px;
}

#detalleCita{
    border: lightseagreen 1.5px solid;
    width: 50%;
    border-radius: 2%;
    padding: 10px;
    margin-left: 350px;
    margin-top: 70px;
}

#btnVolverContainer
{
   padding-left : 0px;

}



#txtCita{
    background: lightgreen;
    border-radius: 10px;
    text-align: center;
}

#txtDisponibilidad{
    background: lightpink;
    border-radius: 10px;
    text-align: center;
}

#btnVolver{
    position: relative;
    left: 50px;
}



#fechaActualListar:disabled
{

    opacity: 0.5 ;
   

} 


#selHorasListar:disabled
{

    opacity: 0.5 ;
   

} 
